<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>2K27 Prom Registration</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <main class="intro">

        <div class="content">

            <p class="small-title">
                PRESENTING
            </p>

            <h1>
                2K27
                <span>PROM</span>
                REGISTRATION
            </h1>

            <p class="description">
                Your night. Your memories.
                Your moment. 
            </p>

            <button class="register-button" onclick="goToRules()">
                <span>REGISTER</span>
                <span class="arrow">→</span>
            </button>

        </div>

        <div class="page-number">
            01 / 04
        </div>

    </main>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>